<script>
	function addFavorite() {
var xhr = new XMLHttpRequest();
xhr.open('GET', 'addFavorite.php?timbre_id=' + {{ oTimbre.timbre_ID }}, true);
xhr.send(null);
}
</script>


<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="noindex, nofollow">
		<title>{{ titre }}</title>
		<link
		rel="stylesheet" type="text/css" href="css/admin.css?v=1.1">
		<link rel="stylesheet" type="text/css" href="css/navigation.css?v=1.1">

		<link rel="stylesheet" href="css/main.css">

		<script type="module" src="js/admin.js"></script>
	</head>

	<body>
		<div id="page">
			<header>
				<nav id="navigation">
					<a href="/">
						<div class="h1">Stampee</div>
					</a>
				</nav>

				<p>
					<br><br>
					{{ oUtilConn.utilisateur_prenom }}
					{{ oUtilConn.utilisateur_nom }}
					<a href="admin?entite=utilisateur&action=d">Déconnecter</a>
				</p>
				<nav>
					<ul>
						<li>
							<hr>
							<a href="admin?entite=utilisateur&action=m&utilisateur_id={{ oUtilConn.utilisateur_ID }}">Mon Profil</a>
						</li>
						<li>
							<a href="admin?entite=enchere&action=lu">Mes Encheres</a>
						</li>
						<li>
							<a href="admin?entite=timbre&action=lu">Mes Timbres</a>
						</li>

						<li>
							<a href="admin?entite=offre&action=lu">Mes Offres</a>
						</li>


						<li>
							<br>
							<br>
							<br>
							{% if oUtilConn.utilisateur_profil == constant('Utilisateur::PROFIL_ADMINISTRATEUR') or  oUtilConn.utilisateur_profil == constant('Utilisateur::PROFIL_EDITEUR')%}
								ADMINISTRATION
								<hr>
								<a href="admin?entite=enchere">Encheres</a>
							</li>
						</li>
						<li>
							<a href="admin?entite=timbre">Timbres</a>
						</li>

						<li>
							<a href="admin?entite=offre">Offres</a>
						</li>

						<li>
							<hr>
							<a href="admin?entite=utilisateur&action=l">Utilisateurs</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>
		<main>
			{{ include(templateMain) }}
		</main>
	</body>
</html></div></body></html>
