<!DOCTYPE html>
<html lang="fr">

	<head>
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Stampee est une plateforme de vente aux enchères de timbres en ligne.">
		<meta name="keywords" content="timbre, vente, enchère, collection, philatélie">
		<title>Stampee - Bienvenue</title>
		<script type="module" src="js/connexionDeconnexion.js"></script>
		<script type="module" src="js/creerCompte.js"></script>
	</head>

	<body>

		{{ include("frontend/components/component-header.twig") }}

		{{ include(templateMain) }}

		{{ include("frontend/components/component-footer.twig") }}

		{{ include("frontend/modaleConnexion.twig") }}
		{{ include("frontend/modaleCreerCompte.twig") }}</body>
</html></body></html>
