<script>
	history.pushState({}, '', 'admin?entite={{ entite }}')
</script>
<script type="module" src="js/filtrer.js"></script>
<section>
	<h1>{{ titre|upper }}</h1>
	<input id="filtrer" data-filtre="filtreGenres" value="" placeholder="Filtrage des lignes contenant cette chaîne">
	{% if oUtilConn.utilisateur_profil in [constant('Utilisateur::PROFIL_ADMINISTRATEUR'),
                                         constant('Utilisateur::PROFIL_EDITEUR')] %}
		<a href="admin?entite={{ entite }}&action=a">Ajouter une enchere</a>
	{% endif %}
	<p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>
	<div class="g {{ entite }}">
		<div class="t">Id
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc-a.svg"></div>
		<div class="t">Nom
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Couleur
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Pays Origine
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">EtatCondition<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t"> Longueur
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Largeur
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">EnchereID
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Actions</div>

		{% for item in timbres %}
			<div class="l">
				<div class="c mi">{{ item.ID }}</div>
				<div class="c mi">{{ item.Nom }}</div>

				<div class="c   ">{{ item.Couleur }}</div>
				<div class="c   ">{{ item.PaysOrigine }}</div>

				<div class="c ">{{ item.EtatCondition }}</div>
				<div class="c dr">{{ item.Longueur }}$</div>
				<div class="c dr">{{ item.Largeur }}$</div>

				<div class="c mi">{{ item.EnchereID }}</div>
				{# <div class="c dr">{{ enchere.TimbreNombreMises }}</div> #}
				<div class="c   ">
					<a href="admin?entite={{ entite }}&action=m&id={{ item.ID }}">modifier</a>
					{% if not genre.nb_films
              and oUtilConn.utilisateur_profil in [constant('Utilisateur::PROFIL_ADMINISTRATEUR'),
                                                   constant('Utilisateur::PROFIL_EDITEUR')] %}
						<span class="confirmer" data-href="admin?entite={{ entite }}&action=s&id={{ enchere.ID }}">supprimer</span>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
{{ include("admin/modaleSuppression.twig") }}
