<script>
	history.pushState({}, '', 'admin?entite={{ entite }}')
</script>
<script type="module" src="js/filtrer.js"></script>
<section>
	<h1>{{ titre|upper }}</h1>
	<input id="filtrer" data-filtre="filtre{{ entite }}" value="" placeholder="Filtrage des lignes contenant cette chaîne">
	{% if oUtilConn.utilisateur_profil in [constant('Utilisateur::PROFIL_ADMINISTRATEUR'),
                                         constant('Utilisateur::PROFIL_EDITEUR'), 
                                         constant('Utilisateur::PROFIL_CLIENT')] %}
		<a href="admin?entite={{ entite }}&action=a">Ajouter une enchere</a>
	{% endif %}
	<p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>
	<div class="g {{ entite }}">
		<div class="t">Id
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc-a.svg"></div>
		<div class="t">Visible
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Date Début
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Date Fin
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Nom<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">
			Prix Actuel
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Nb. Mises
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Actions</div>

		{% for enchere in encheres %}
			<div class="l">
				<div class="c mi">{{ enchere.ID }}</div>
				<div class="c mi">{{ enchere.Visible }}</div>

				<div class="c   ">{{ enchere.DateDebut }}</div>
				<div class="c   ">{{ enchere.DateFin }}</div>

				<div class="c ">{{ enchere.TimbreNom }}</div>

				<div class="c dr">{{ enchere.PrixActuel }}$</div>

				<div class="c mi">{{ enchere.NombreMises }}</div>
				{# <div class="c dr">{{ enchere.TimbreNombreMises }}</div> #}
				<div class="c   ">
					<a href="admin?entite={{ entite }}&action=m&id={{ enchere.ID }}">modifier</a>
					{% if oUtilConn.utilisateur_profil in [constant('Utilisateur::PROFIL_ADMINISTRATEUR'),
                                                   constant('Utilisateur::PROFIL_EDITEUR')] %}
						<span class="confirmer" data-href="admin?entite={{ entite }}&action=s&id={{ enchere.ID }}">supprimer</span>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
{{ include("admin/modaleSuppression.twig") }}
