<script>
	history.pushState({}, '', 'admin?entite={{ entite }}')
</script>
<script type="module" src="js/filtrer.js"></script>
<section>
	<h1>{{ titre|upper }}</h1>
	<input id="filtrer" data-filtre="filtre{{ entite }}" value="" placeholder="Filtrage des lignes contenant cette chaîne">
	{% if oUtilConn.utilisateur_profil in [constant('Utilisateur::PROFIL_ADMINISTRATEUR'),
                                         constant('Utilisateur::PROFIL_EDITEUR'), constant('Utilisateur::PROFIL_CLIENT')] %}
		<a href="admin?entite={{ entite }}&action=a">Ajouter une offre</a>
	{% endif %}
	<p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>
	<div class="g {{ entite }}">
		<div class="t">Id
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc-a.svg"></div>
		<div class="t">Date
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Enchere ID<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Prix
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc-a.svg"></div>
		<div class="t">Visible
			<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Note<img src="assets/images/i-asc.svg"><img src="assets/images/i-desc.svg"></div>
		<div class="t">Actions</div>
		{% for offre in offres %}
			<div class="l">
				<div class="c dr">{{ offre.ID }}</div>
				<div class="c dr">{{ offre.OffreDate }}</div>

				<div class="c   ">{{ offre.EnchereID }}</div>
				<div class="c dr">{{ offre.Prix }}</div>
				<div class="c dr">{{ offre.Visible }}</div>

				<div class="c dr">{{ offre.Note }}</div>


				<div class="c   ">
					<a href="admin?entite={{ entite }}&action=m&id={{ offre.ID }}">{{ UtilConn.utilisateur_profil }}modifier</a>
					{% if oUtilConn.utilisateur_profil in [constant('Utilisateur::PROFIL_ADMINISTRATEUR'),
                                                   constant('Utilisateur::PROFIL_EDITEUR')] %}
						<span class="confirmer" data-href="admin?entite={{ entite }}&action=s&id={{ offre.ID }}">supprimer</span>
					{% endif %}

          
				</div>
			</div>
		{% endfor %}
	</div>
</section>
{{ include("admin/modaleSuppression.twig") }}
