<script src="js/encheres/vEnchereContent_Main.js" type="module"></script>


<section class="section-titre">
	<h3>
		Parcourir les items >
		<a href="#">Timbres rares</a>
		>
		<a href="#">Toutes conditions</a>
	</h3>
	<div class="h4" id='lblResults'>{{ aEncheres|length }}
		items trouvés(filtrés). Voici les résultats 1 à
		{{ aEncheres|length }}
		.</div>
</section>

<div>
	<aside>
		<form class="rythme-moyen formulaire-enchere">
			<div>
				<div class="tab">
					<button class="tablinks active" id='btnTab1'>
						Filtres
					</button>
					<button class="tablinks" id='btnTab2'>
						Échéances
					</button>
					<button class="tablinks" id='btnTab3'>
						Prix
					</button>
				</div>

				<div id="tab1" class="tabcontent" style="display: block">
					<div class="h5">Coup de coeurs/Favoris:</div>
					<div class="h8">
						Hint! Les favoris du Lord sauront vous surprendre!
					</div>
					<div class="content-line">
						<select id='frmDropDownFavoris' aria-label="Choisir ordre">
							<option selected value="Toute ">Tout</option>
							<option value="FavorisUsager">
								Mes Favoris
							</option>
							<option value="FavorisLord">
								Favoris du Lord
							</option>
						</select>
						<i class="fas fa-heart icon"></i>
					</div>
					<div class="h5">Autres Filtres:</div>
					<div class="content-line">
						<select id="frmDropDownCategories" aria-label="Condition">
							<option value="Toutes">Toute Categories</option>
							{% for value in aCategories %}
								<option value="{{ value.ID }}">{{ value.Nom }}</option>
							{% endfor %}

						</select>
						<i class="fas fa-folder"></i>
					</div>
					<div class="content-line">
						<select id="frmDropDownCategoriesConditions" aria-label="Condition">
							<option value="Conditions">Toute Conditions</option>
							<option value="Neuf">Bonne</option>
							<option value="Bonne">Bonne</option>
							<option value="Moyenne">Moyenne</option>
							<option value="Mauvaise">Mauvaise</option>
						</select>
						<i class="fas fa-tachometer-alt"></i>
					</div>

					<div class="content-line">
						<select id="frmDropDownStatus" aria-label="Status">
							<option value="Toutes" selected>Tout Status</option>
							<option value="1">
								Enchères en cours
							</option>
							<option value="0">
								Enchères archivées
							</option>
						</select>
						<i class="fas fa-running icon"></i>
					</div>


					{# <div class="content-line">
																																									<select aria-label="Type de timbres">
																																										<option value="Type de timbres">Tout type de timbres</option>
																																										<option value="Tout timbres">Tout timbres</option>
																																										<option value="Tout timbres" selected>Timbres Rares</option>
																																										<option value="Timbres-poste">Timbres-poste</option>
																																										<option value="Timbres commémoratifs">
																																											Timbres commémoratifs
																																										</option>
																																										<option value="Timbres spéciaux">Timbres spéciaux</option>
																																										<option value="Timbres oblitérés">Timbres oblitérés</option>
																																										<option value="Timbres non dentelés">
																																											Timbres non dentelés
																																										</option>
																																									</select>
																																									<i class="fas fa-stamp icon"></i>
																																								</div> #}
					{# <div class="content-line">
																																									<select aria-label="Condition">
																																										<option value="Condition" selected>
																																											Toute Condition obligataire
																																										</option>
																																										<option value="Neuf avec gomme originale">
																																											Neuf avec gomme originale
																																										</option>
																																										<option value="Neuf sans gomme">Neuf sans gomme</option>
																																										<option value="Oblitéré avec cachet léger">
																																											Oblitéré avec cachet léger
																																										</option>
																																										<option value="Oblitéré avec cachet complet">
																																											Oblitéré avec cachet complet
																																										</option>
																																										<option value="Endommagé">Endommagé</option>
																																									</select>
																																									<i class="fas fa-heartbeat icon"></i>
																																								</div> #}
					{# <div class="content-line">
																																									<select aria-label="Centrage">
																																										<option value="Centrage" selected>Tout Centrage</option>
																																										<option value="Bien centré">Bien centré</option>
																																										<option value="Décentré vers la gauche">
																																											Décentré vers la gauche
																																										</option>
																																										<option value="Décentré vers la droite">
																																											Décentré vers la droite
																																										</option>
																																										<option value="Décentré vers le haut">
																																											Décentré vers le haut
																																										</option>
																																										<option value="Décentré vers le bas">
																																											Décentré vers le bas
																																										</option>
																																									</select>
																																									<i class="fas fa-arrows-alt-h icon"></i>
																																								</div> #}
					{# <div class="content-line">
																																									<select aria-label="Format">
																																										<option value="Tout Format" selected>Tout Format</option>
																																										<option value="Timbre simple">Timbre simple</option>
																																										<option value="Bloc de timbres">Bloc de timbres</option>
																																										<option value="Feuillet">Feuillet</option>
																																										<option value="Carnet de timbres">Carnet de timbres</option>
																																										<option value="Plaque de timbres">Plaque de timbres</option>
																																									</select>
																																									<i class="fas fa-ruler icon"></i>
																																								</div> #}
						<div class="content-line"> <select id="frmDropDownCertificats" aria-label="Certificat">
							<option value="Toutes" selected>Tout Certificat</option>
							<option value="1">
								Avec certificat d'authenticité
							</option>
							<option value="0">
								Sans certificat d'authenticité
							</option>
						</select>
						<i class="fas fa-certificate icon"></i>
					</div>
				</div>

				<div id="tab2" class="tabcontent">
					<div>
						<label class="h5" for="echeance">Se termine avant :</label><br>
						<input id="echeance" type="date">
					</div>
				</div>

				<div id="tab3" class="tabcontent">
					<div class="h5">Fourchette de prix:</div>
					<div>
						<div>
							<label class="h7" for="prix-minimum">Minimum</label><br>
							<input placeholder="0" id="prix-minimum" type="number">
						</div>
						<div>
							<label class="h7" for="prix-maximum">Maximum</label><br>
							<input placeholder="1000" id="prix-maximum" type="number">
						</div>
					</div>
				</div>
			</div>

			<footer class="rythme-moyen">
				<button class="bouton" type="reset">Rétablir</button>
			</footer>
		</form>
	</aside>
	<main>
		<header>
			<div class="recherche-form " aria-label="Rechercher Tout">
				<input type="text" id='frmRechercherText' name="frmRechercher" class="recherche-input formulaire-enchere" placeholder="Rechercher..." aria-label="Champ recherche">
				<button type="submit" id='frmRechercherButton' class="recherche-boutton formulaire-enchere" aria-label="Rechercher">
					<i class="fas fa-search formulaire-enchere"></i>
				</button>
			</div>
			<div>
				<button id="btnGrille" class="boutonCar" aria-label="Voir en grille">
					<i class="fas fa-th gradient"></i>
				</button>
				<button id="btnListe" class="boutonCar selected" aria-label="Voir en liste">
					<i class="fas fa-list"></i>
				</button>
			</div>
		</header>

		<div class="grille">
			{% for oEnchere in aEncheres %}
				<article id='Enchere{{ oEnchere.ID }}' name='enchere' class="carte">
					{% if  oUtilConn %}
						<svg id='btnAjouterFavoris' data-enchere-id="{{ oEnchere.ID }}" name='btnAjouterFavoris' class="fav-icon {{ oEnchere.bFavoris ? 'selected' : '' }}" style="position: absolute; twop: -50%; lweft: -50%; " title="Ajouter aux favoris" xmlns="http://www.w3.org/2000/svg" viewbox="-10 -10 34 34">
							<path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
						</svg>
					{% endif %}
					<a href="enchere?id={{ oEnchere.ID }}">
						<picture>
							{# {% if  oUtilConn %} #}

							{# {% endif %} #}
							{# <img src='medias/stamps/{{ oEnchere.PremiereImage }}' alt="Timbre -2"> #}
						<img src='{{ oEnchere.PremiereImage }}' alt="{{ oEnchere.PremiereImage }}"> </picture>
					</a>
					<div>
						<aside>
							<div>
								<div class="h5">${{ oEnchere.PrixActuel }}</div>
							</div>
							<div>
								<div class="alerteAction h7">
									{{ oEnchere.RemainingTime}}
									(<a href="enchere?id={{ oEnchere.ID }}#mises">{{ oEnchere.NombreMises }}</a>)
								</div>
							</div>
						</aside>
						<div>
							<a href="enchere?id={{ oEnchere.ID }}#infos">
								<div class="h6">
									{{ oEnchere.TimbreNom }}
								</div>
								<div class="h8">
									Cerfifié : {{ oEnchere.TimbreCertifie ? 'oui' : 'Non' }}
								</div>
								<div class="h8">
									Couleur : {{ oEnchere.TimbreCouleur ? oEnchere.TimbreCouleur : 'Inconnue' }}
								</div>
								<div class="h8">
									Condition : {{ oEnchere.TimbreEtatCondition  ? oEnchere.TimbreEtatCondition : 'Inconnue'}}
								</div>
								<div class="h8">
									Categorie: {{ oEnchere.CategorieID ? aCategories|filter(category => category.ID == oEnchere.CategorieID)|first.Nom : 'Inconnue' }}
								</div>
							</a>
						</div>
						<div class="h7">
							<a href="enchere?id={{ oEnchere.ID }}">Détails...</a>
						</div>
					</div>
					
					<footer>
						<button class="bouton alerteBackground-Color" onclick="location.href='enchere?id={{ oEnchere.ID }}#bidding';" aria-label="Enchérir" target='enchere'>Enchérir</button>
					</footer>
				</article>

			{% else %}
				<div>Aucune Enchère.</div>
			{% endfor %}

		</div>
	</main>
</div>
