<div class="section-titre">
	<h1>Offres de services</h1>
	<div class="carteIndex_Contenant">
		<article class="carteIndex dotted-line surligne contour">
			<div class="rond-bleu gradient">
				<i class="fas fa-shopping-cart icone-achat"></i>
			</div>
			<h2 class="h1">Acheter</h2>
			<p>Achetez un item ou un lot complet</p>
			<button class="bouton">En savoir plus...</button>
		</article>

		<article class="carteIndex dotted-line surligne contour">
			<div class="rond-bleu gradient">
				<i class="fas fa-money-bill-wave icone-achat"></i>
			</div>
			<h2 class="h1">Vendre</h2>
			<p>Vendre un item ou un lot complet</p>
			<button class="bouton">En savoir plus...</button>
		</article>

		<article class="carteIndex dotted-line surligne contour">
			<div class="rond-bleu gradient">
				<i class="fas fa-lightbulb icone-achat"></i>
			</div>
			<h2 class="h1">Conseils d'experts!</h2>
			<p>Obtener de l'aide pour évaluer vos items</p>
			<button class="bouton">En savoir plus...</button>
		</article>
	</div>
</div>

<div class="section-titre">
	<h1>Comment ca fonctionne</h1>
	<div class="h3">Simple comme 1-2-3:</div>

	<div class="carteIndex_Contenant">
		<article class="carteIndex">
			<div class="rond-bleu gradient">
				<i class="fas fa-1"></i>
			</div>
			<h2 class="h1">Créez votre compte</h2>

			<div class="h8">
				Créez votre compte en à peine quelques click. Vous aurez accès a
																				          votre historique, vos préférences de recherches et même quelques
																				          surprises!
			</div>
		</article>

		<article class="carteIndex">
			<div class="rond-bleu gradient">
				<i class="fas fa-2"></i>
			</div>
			<h2 class="h1">Parcourez</h2>
			<div class="h8">
				Parcourez les items qui vous interesse, faites des recherches
																				          précises au moyens de nos filtre évolués. Noubliez pas de
																				          sauvegarder vos items favoris!
			</div>
		</article>
		<article class="carteIndex">
			<div class="rond-bleu gradient">
				<i class="fas fa-3"></i>
			</div>
			<h2 class="h1">Achetez</h2>
			<div class="h8">
				Achetez simplement et rapidement chez nous. Notre processus sécurisé
																				          accepte divers paiements et vous guide jusqu'à la réception.
			</div>
		</article>
	</div>
</div>

<div class="voirBackgroundImage section-titre">
	<h1>Nous garantissons une expérience hors normes</h1>
	<p>
		<span class="h4">Notre plateforme d'enchères de timbres garantit une expérience hors
															        normes, transparente, sécurisée et facile à utiliser. Nous sommes là
															        pour vous aider à trouver les timbres que vous cherchez et à vous
															        offrir une expérience d'enchères en ligne exceptionnelle.</span>
	</p>

	<div class="carteIndex_Contenant">
		<div class="carteIndex">
			<div class="rating">
				<span class="fa fa-star active"></span>
				<span class="fa fa-star active"></span>
				<span class="fa fa-star active"></span>
				<span class="fa fa-star active"></span>
				<span class="fa fa-star active"></span>
			</div>
			<div class="h1">4.9/5 étoiles</div>
			<p>google reviews</p>
		</div>

		<div class="carteIndex">
			<div class="rating">
				<span class="fa fa-star active"></span>
				<span class="fa fa-star active"></span>
				<span class="fa fa-star active"></span>
				<span class="fa fa-star active"></span>
				<span class="fa fa-star-half active"></span>
			</div>
			<div class="h1">4.6/5 étoiles</div>
			<p>Sondage après vente</p>
		</div>
	</div>
	<div class="statistiques carteIndex_Contenant">
		<div class="carteIndex">
			<div class="h4">5000</div>
			<p>Timbres vendus</p>
		</div>
		<div class="carteIndex">
			<div class="h4">10000</div>
			<p>Annonces</p>
		</div>
		<div class="carteIndex">
			<div class="h4">140</div>
			<p>En cours</p>
		</div>
		<div class="carteIndex">
			<div class="h4">200</div>
			<p>Reviews positifs</p>
		</div>
	</div>
</div>

<div class="section-titre">
	<div class="h3">
		Parcourir les items >
		<a href="catalogue?Favoris=FavorisLord">Favoris du Lord</a>
	</div>
</div>
<div>
	<main>
		<div class="grille carteIndex_Contenant">
			{% for oEnchere in encheres %}
				<article id='Enchere{{ oEnchere.ID }}' name='enchere' class="carte">
					{% if  oUtilConn %}
						<svg id='btnAjouterFavoris' data-enchere-id="{{ oEnchere.ID }}" name='btnAjouterFavoris' class="fav-icon {{ oEnchere.bFavoris ? 'selected' : '' }}" style="position: absolute; twop: -50%; lweft: -50%; " title="Ajouter aux favoris" xmlns="http://www.w3.org/2000/svg" viewbox="-10 -10 34 34">
							<path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
						</svg>
					{% endif %}
					<a href="enchere?id={{ oEnchere.ID }}">
						<picture>
							{# {% if  oUtilConn %} #}

							{# {% endif %} #}
							{# <img src='medias/stamps/{{ oEnchere.PremiereImage }}' alt="Timbre -2"> #}
						<img src='{{ oEnchere.PremiereImage }}' alt="{{ oEnchere.PremiereImage }}"> </picture>
					</a>
					<div>
						<aside>
							<div>
								<div class="h5">${{ oEnchere.PrixActuel }}</div>
							</div>
							<div>
								<div class="alerteAction h7">
									{{ oEnchere.RemainingTime}}
									(<a href="enchere?id={{ oEnchere.ID }}#mises">{{ oEnchere.NombreMises }}</a>)
								</div>
							</div>
						</aside>
						<div>
							<a href="enchere?id={{ oEnchere.ID }}#infos">
								<div class="h6">
									{{ oEnchere.TimbreNom }}
								</div>
								<div class="h8">
									Cerfifié :
									{{ oEnchere.TimbreCertifie ? 'oui' : 'Non' }}
								</div>
								<div class="h8">
									Couleur :
									{{ oEnchere.TimbreCouleur ? oEnchere.TimbreCouleur : 'Inconnue' }}
								</div>
								<div class="h8">
									Condition :
									{{ oEnchere.TimbreEtatCondition  ? oEnchere.TimbreEtatCondition : 'Inconnue'}}
								</div>
								<div class="h8">
									Categorie:
									{{ oEnchere.CategorieID ? aCategories|filter(category => category.ID == oEnchere.CategorieID)|first.Nom : 'Inconnue' }}
								</div>
							</a>
						</div>
						<div class="h7">
							<a href="enchere?id={{ oEnchere.ID }}">Détails...</a>
						</div>
					</div>

					<footer>
						<button class="bouton alerteBackground-Color" onclick="location.href='enchere?id={{ oEnchere.ID }}#bidding';" aria-label="Enchérir" target='enchere'>Enchérir</button>
					</footer>
				</article>

			{% else %}
				<div>Aucune Enchère.</div>
			{% endfor %}


		</div>
	</main>
</div>

<div class="section-lord-mission voirBackgroundImage">
	<div class="left-section">
		<div id='aPropos' class="h4">À propos de Lord Stampee</div>
		<p>
			Lord Stampee, le fondateur de notre plateforme d'enchères de timbres,
																											        est un philatéliste passionné avec une admiration débordante pour
																											        l'art et l'histoire encapsulés dans chaque timbre. Sa passion pour les
																											        timbres est née lors de ses voyages mondiaux où il a commencé à
																											        collectionner des timbres de chaque pays qu'il visitait. Il est connu
																											        pour son œil aguerri pour les détails et son amour pour le partage de
																											        sa passion avec d'autres. Aujourd'hui, il met cette passion au service
																											        de la communauté philatéliste en fournissant une plateforme où les
																											        collectionneurs peuvent acheter et vendre des timbres rares et
																											        précieux.
		</p>
		<div class="h4">Notre mission</div>
		<p>
			Chez Lord Stampee, notre mission est de créer une communauté globale
																											        de passionnés de timbres, où chacun peut découvrir, acheter et vendre
																											        des timbres de collection. Nous nous engageons à fournir une
																											        plateforme fiable et transparente pour les enchères de timbres,
																											        soutenue par une technologie de pointe pour assurer la sécurité et
																											        l'équité de chaque transaction. Nous croyons que chaque timbre a une
																											        histoire à raconter et nous nous efforçons de donner à ces histoires
																											        la plateforme qu'elles méritent.
		</p>
	</div>
	<div class="right-section">
		<video controls>
			<source src="./assets/vid/Lord.mp4" type="video/mp4">
			<track src="captions_en.vtt" kind="captions" srclang="en" label="english_captions">

				Votre navigateur ne supporte pas les vidéos.
			</video>
		</div>
	</div>

	<div class="entete-hero" role="banner">
		<a class="bouton gros" href="catalogue" aria-label="Découvrez les nouveaux items">
			<span class="h4">Découvrez les nouveaux items et améliorez votre collections</span>
		</a>
	</div>
</div>
